{% load i18n humanize %}
<!--comment section-->
<h3 class="comment_heading">{% trans "Comments" %} </h3>
<div class="comment_sect">
	<div class="comment_inner">
    	<div class="comment_search">
        	<div class="comment_pic"><img src="{{ request.user.profile.photo.url }}" alt=""></div>
            <div class="comment_search_right ">
                <form action="{% url 'group:comment' group.id %}" method="post">{% csrf_token %}
                	<input name="text" type="text" class="comment_textfield" placeholder="{% trans "Write a Comment..." %}">
                </form>
                <!--<div class="icon_right">
                	<a href="#"><img src="images/comment_icon1.png" alt=""></a>
                    <a href="#"><img src="images/comment_icon2.png" alt=""></a>
                </div>-->
            </div>
        </div>
    </div>

    {% for thread in group.threads.all %}
{#        {% for comment in thread.comments.all %}#}
{#        <div class="comment_inner">#}
{#        	<div class="comment_search {% cycle '' 'gry' %}">#}
{#            	<div class="comment_pic"><img src="{{ comment.user.photo.url }}" alt=""></div>#}
{#                <div class="comment_search_text">#}
{#                	<p><strong>{{ comment.user }}</strong> {{ comment.content|linebreaks }}</p>#}
{##}
{#                    <div class="review_com">#}
{#                    	<ul>#}
{#                        	<li><a href="#">{% trans "Answer" %}</a></li>#}
{#                            <li>1 Std </li>#}
{#                            <li><a href="#">{% trans "More Answers" %}</a></li>#}
{#                            <li>- {{ comment.created_at|naturaltime }}</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            {% if forloop.parentloop.last %}#}
{#            <a href="#" class="view_more_comment">{% trans "show more comments" %}</a>#}
{#            {% endif %}#}
{#        </div>#}
{#        {% endfor %}#}
    {% endfor %}
</div>
<!--comment section end-->
