  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNcPyeabkfR-x08204ANjR1P8PnDabHY&region=DE"></script>
  <script>
      var SetLocationController = function(elementId) {
        /*
        class for setting location
        */
        this.map = new google.maps.Map(document.getElementById(elementId),{
          zoom: 5,
          streetViewControl: false,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            position: google.maps.ControlPosition.TOP_RIGHT
          }
        });
        this.geocoder = new google.maps.Geocoder();
        this.infoWindow = new google.maps.InfoWindow({map: this.map});
      };
      SetLocationController.prototype.handleLocationError = function() {
          var self = this;
          var position = this.setGeocodedAddress('Deutschland');
      };
      SetLocationController.prototype.setGeocodedAddress = function(address) {
        /*
        * */
        var self = this;
        this.geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            var pos = results[0];
            self.map.setCenter(pos.geometry.location);
            self.infoWindow.close();
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      };
      SetLocationController.prototype.setGeocodedLocation = function(position) {
      /*
      geocode position (lat, lng) to address and show it in infoWindow
      */
        var self = this;
        self.geocoder.geocode({'location': position}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                self.map.setZoom(11);
                var marker = new google.maps.Marker({
                  position: position,
                  map: self.map
                });
                self.map.setCenter(position);
                self.infoWindow.setContent(results[1].formatted_address);
                self.infoWindow.setContent('<div>' +
                      '<p>' + results[1].formatted_address + '</p>'+
                  {% if user.is_paid %}'<p class="hint">please, remember that unpaid users can change their location  every 6 months only</p>'+{% endif %}
                      '<p><button type="button">Confirm location</button></p>' +
                      '<p><button type="button">Set another location</button></p>' +
                  '</div>');
                self.infoWindow.open(self.map, marker);
              } else {
                window.alert('No results found');
              }
            } else {
              window.alert('Geocoder failed due to: ' + status);
            }
          });
      };

      SetLocationController.prototype.initMap = function() {
        var self = this;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
              function(position){self.confirmLocation(position)},
              function(){self.handleLocationError()});
        } else {
          // Browser doesn't support Geolocation
          self.handleLocationError();
        }
      };
      SetLocationController.prototype.confirmLocation = function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.setGeocodedLocation(pos);
{#            this.map.setCenter(pos);#}
{#            this.infoWindow.setPosition(pos);#}
{#            this.infoWindow.setContent('<div>' +#}
{#                    '<p>address</p>'+#}
{#                {% if user.is_paid %}'<p class="hint">please, remember that unpaid users can change their location  every 6 months only</p>'+{% endif %}#}
{#                    '<p><button type="button">Confirm location</button></p>' +#}
{#                    '<p><button type="button">Set another location</button></p>' +#}
{#                '</div>')#}
      };
      var controller = new SetLocationController("map");
      controller.initMap();
</script>