{% extends 'base/base.html' %}
{% load bootstrap3 static i18n %}

{% block content %}
<!--content part start-->
<section class="content_outer listing_main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content_inner">
        <div class="account_setting_top_outer">
          <div class="account_setting">
            <div class="account_setting_top top_right">
              <h3>{% trans "my neighborhood support" %}
                <div class="set">
                  <span>{% trans "default payment settings" %}</span>
                  <a href="#" class="register_btn set_btn">{% trans "set/change" %}</a> {# TODO #}
                </div>
              </h3>
              <p class="supp">{% trans "Support the good things that happen where neighbors come together" %}</p>
            </div>
            <div class="col-lg-12 content_inner my_account">
              <div class="col-lg-4">
                <h4>{% trans "My account from friend invites" %}:<strong>10€</strong></h4>
              </div>
              <div class="col-lg-8 my_account_in">
                <div class="my_account_in_left">
                  <strong><b> 10 €</b> {% trans "I am using Polly &amp; Bob 5 months for free" %}.</strong> <a href="#" class="invite_btn">{% trans "invite friends" %}</a>
                  <span>{% trans "For each invited friend that joins Polly &amp; Bob you receive 2€ on your account." %}<!--For each registered member that i invited i get 2 € on my account.--></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12 content_inner my_account">
              <div class="col-lg-4">
                <h4>{% trans "My current neighborhood support" %}: <strong>0€</strong></h4>
              </div>
              <div class="col-lg-8 my_account_in">
                <div class="my_account_in_left">
                  <strong><b> 0 € </b>  {% trans "go to my local board" %} </strong>
                  <span>{% trans "50% of the membership fee is available to the localboard in your area." %} <!--(see more in <a href="#">about us</a> section)--></span>
                  <strong>{% trans "<b> 0 €</b> go to Polly & Bob central organization" %}</strong>
                  <span>{% trans "50% of the membership fee goes into platform development and central community support." %}</span>
                  <p>
                    <strong>{% trans "I want to rise my monthly support by" %}</strong>
                    <label>
                      <input name="" type="checkbox" value=""> 2 {% trans "Euro" %}
                    </label>
                    <label>
                      <input name="" type="checkbox" value=""> 5 {% trans "Euro" %}
                    </label>
                    <label>
                      <input name="" type="checkbox" value="">10 {% trans "Euro" %}
                    </label> <a href="#" class="save_btn">save</a><br>
                    <span>{% trans "50% will go directly to the localboard in your area<!--your local area-->. 50% will go into platform development and central community support." %}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="account_setting_top_outer">
          <div class="account_setting">
            <div class="account_setting_top">
              <h3>e-mail notification</h3>
              <div class="account_listing">
                <form action="{% url 'user_notifications' %}" method="post" class="ajax_form">{% csrf_token %}
{#                <ul>#}
                {% bootstrap_form EmailNotificationsForm %}
{#                  {% for field in EmailNotificationsForm %}#}
{#                    {% bootstrap_field field %}#}
{#                  <li>#}
{#                    <label>#}
{#                      {{ field }}#}
{#                      {{ field.label }}#}
{#                      <input name="{{ field.html }}" type="checkbox" value=""> after each change in connection center#}
{#                    </label>#}
{#                  </li>#}
{#                  {% endfor %}#}
{#                </ul>#}
{#                  {% bootstrap_form EmailNotificationsForm %}#}
  {#                <ul>#}
  {#                  <li>#}
  {#                    <label>#}
  {#                      <input name="" type="checkbox" value=""> after each change in connection center#}
  {#                    </label>#}
  {#                  </li>#}
  {#                  <li>#}
  {#                    <label>#}
  {#                      <input name="" type="checkbox" value=""> Only when i am invited to a listing#}
  {#                    </label>#}
  {#                  </li>#}
  {#                  <li>#}
  {#                    <label>#}
  {#                      <input name="" type="checkbox" value=""> don't sent me emails#}
  {#                    </label>#}
  {#                  </li>#}
  {#                  <li>#}
  {#                    <label>#}
  {#                      <input name="" type="checkbox" value=""> sent me regular newsletter#}
  {#                    </label>#}
  {#                  </li>#}
  {#                </ul>#}
                  <button class="register_btn mail_btn">{% trans "Save" %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="account_setting_top_outer">
          <div class="account_setting">
            <div class="account_setting_top">
              <h3>{% trans "change your name" %}
                <div class="set betty">
                  {{ user }}<a href="#" class="register_btn set_btn edite_btn">{% trans "Edit" %}</a>
                </div>
              </h3>
              <p>{% trans "Here you can easily change your name. It can be up to 17 characters." %}</p>
            </div>
          </div>
        </div>
        <div class="account_setting_top_outer">
          <div class="account_setting">
            <div class="account_setting_top">
              <h3>{% trans "Interface language setting" %}</h3>
              <div class="language_in col-xs-6 col-sm-3">
                <form class="ajax_form" action="{% url 'user_language_update' %}" method="post">{% csrf_token %}
                  {% bootstrap_field LanguageForm.language show_label=False %}
                  <button type="submit" class="register_btn mail_btn">{% trans "Save" %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="account_setting_top_outer">
          <div class="account_setting">
            <form action="{% url 'user_delete' %}" method="post">{% csrf_token %}
              <div class="account_setting_top">
                <h3>{% trans "delete account" %}<div class="set betty">
                  <button class="register_btn set_btn delete_btn">{% trans "Delete Now" %}</button></div>
                </h3>
                <p>{% trans "watch out, all your data and credits will be deleted." %}</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--content part end-->

{#  <div>#}
{#    <form action="{% url 'user_change_password' %}" method="post">{% csrf_token %}#}
{#      {% bootstrap_form ChangePasswordForm %}#}
{#      <button type="submit">save</button>#}
{#    </form>#}
{#  </div>#}
{#  <div>#}
{#    <form id="wtform" action="{% url 'user_change_email' %}" method="post">{% csrf_token %}#}
{#      {% bootstrap_form ChangeEmailForm %}#}
{#      <button type="submit">save</button>#}
{#    </form>#}
{#  </div>#}
{#  <div>#}
{#    <form action="{% url 'user_notifications' %}" method="post">{% csrf_token %}#}
{#      {% bootstrap_form EmailNotificationsForm %}#}
{#      <button type="submit">save</button>#}
{#    </form>#}
{#  </div>#}
{% endblock %}
