{% extends "base/base.html" %}

{% load i18n %}

{% block banner %}
<!--banner part start-->
<section class="banner_outer listing groups_info">
{% if is_blocked %}
  <a href="{% url 'group:unblock' object.pk %}" class="block_btn">{% trans "Unblock" %}</a>
{% else %}
  <a href="{% url 'group:block' object.pk %}" class="block_btn">{% trans "Block" %}</a>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="banner_inr">
        <div class="open_left"><h3>{{ object.name }}</h3></div>
        <div class="open_right open_rig">
          <div class="open_left_bottom">
             {% ifequal object.status object.STATUS_OPEN %}
                  <div class="secret open_secr">{{ object.get_status_display }} {% trans "group" %}</div>
             {% endifequal %}
             {% ifequal object.status object.STATUS_CLOSED %}
                  <div class="secret closed">{{ object.get_status_display }} {% trans "group" %}</div>
             {% endifequal %}
             {% ifequal object.status object.STATUS_SECRET %}
                  <div class="secret secr">{{ object.get_status_display }} {% trans "group" %}</div>
             {% endifequal %}
         </div>
          <div class="jx">
          {% if request.user.is_authenticated %}
            {% if is_in_group %}
              <a href="{% url 'group:leave' object.id %}" class="block_btn_cnt_j">{% trans "Leave" %}</a>
            {% else %}
              <a href="{% url 'group:join' object.id %}" class="block_btn_cnt_j">{% trans "Join" %}</a>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if is_in_group_admins %}
  <a class="edit_btn_admin" href="#">{% trans "Edit" %}</a>
  {% endif %}
</section>
<!--banner part end-->
{% endblock %}

{% block javascript %}
<!--accordination-->
<script type="text/javascript">
	$(function() {

	    var menu_ul = $('.hide_part'),
	           menu_a  = $('.open');

	    menu_ul.hide();

	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });

	});
</script>
<!--accordination-->
{% endblock %}
