{% extends "groups/base.html" %}

{% load staticfiles i18n humanize comments %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
{% endblock %}

{% block title %}
  {{ object.name }} - {{ block.super }}
{% endblock %}

{% block content %}
<!--content part start-->
<section class="content_outer listing_main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 content_inner">
        <div class="col-lg-10 listing_left">
          <ul>
            <li><a data-toggle="tab" href="#home">{% trans "News" %}</a></li>
            {% if is_in_group %}
            <li><a data-toggle="tab" href="#menu1">{% trans "members" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-lg-2 listing_left sm">
          <div class="dropdown mega-dropdown4">
            <a href="javascript:;"  id="menu4" class="direct dropdown-toggle invite_btn">{% trans "Invite Some Neighbors" %}  <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-menu mega-dropdown-menu4 setting user_block direct_block">
              <div class="user_block_outer">
                <form action="{% url 'group:invite' object.pk %}" method="post">{% csrf_token %}
                  {% for neighbour in neighbours %}
                  <div class="user_block_top {% cycle 'gray' '' %}">
                    <div class="user_block_top_left"><img src="{{ neighbour.photo.url }}" alt=""></div>
                    <div class="user_block_top_right">
                        {{ neighbour.user.name }}
                      <input name="users" type="checkbox"  value="{{ neighbour.user.pk }}">
                    </div>
                  </div>
                  {% endfor %}
                  <input type="submit" value="{% trans "Invite" %}" class="btn">
                </form>
                <div class="user_bottom user_bottom_3" id="max-invites-reached">
                  {% trans "You reached maximum of 100 invites." %}
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="about">
                <div class="about_left news">
                  <div class="about_me_outer news_left">
                    <div class="about_me">
                      <h3>info</h3>
                      <div class="msg_readable wdh">{{ object.description }}</div>
                      {% if is_in_group or object.status != object.STATUS_CLOSED %}
                        {% render_comment_list for object %}
                        {% render_comment_form for object %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="group_outer">
                <div class="units2">
                  <div class="units_left">
                    <h3>{% trans "Members" %}</h3>
                    <div class="units_left_top">
                      <ul>
                        {% for member in object.members.all %}
                        <li>
                          <a href="{{ member.get_absolute_url }}">
                            <b class="name_admin">{{ member.title }}</b>
                            <img alt="" src="{{ member.photo.url }}">
                          </a>
                          <span>{{ member.age|default_if_none:"" }}</span>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div class="units_left units_right">
                    <h3>{% trans "admins" %}</h3>
                    <div class="units_left_top">
                      <ul>
                        {% for admin in object.admins.all %}
                        <li>
                          <a href="{{ admin.get_absolute_url }}">
                            <b class="name_admin">{{ admin.name }}</b>
                            <img alt="" src="{{ admin.photo }}">
                          </a>
                          <span>{{ admin.age|default_if_none:"" }}</span>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--content part end-->
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
    <script>
        (function() {
            var maxInvitesReached = document.querySelector('#max-invites-reached');

            var neighbours = document.querySelectorAll('.user_block_top_right');
            var neighbourInputs = document.querySelectorAll('.user_block_top_right input');
            var neighbourInputsChecked = document.querySelectorAll('.user_block_top_right input:checked');
            if (neighbourInputsChecked.length >= 100) {
                maxInvitesReached.style.display = 'block';
            } else {
                maxInvitesReached.style.display = 'none';
            }
            for (var i = 0; i < neighbourInputs.length; i++) {
                neighbourInputs[i].addEventListener('click', function(e) {
                    if (document.querySelectorAll('.user_block_top_right input:checked').length >= 100) {
                        maxInvitesReached.style.display = 'block';
                    } else {
                        maxInvitesReached.style.display = 'none';
                    }
                });
            }
        })();
    </script>
{% endblock %}
