{% extends "base/base.html" %}

{% load i18n %}

{% block title %}
    {% trans "Create Listing" %}
{% endblock %}

{% block content %}
<form class="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <div class="row">
        <h3>{% trans "Create Listing" %}</h3>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ form.category }}
        </div>
        <div class="col-sm-12 col-md-9">
            {{ form.title }}
            {{ form.image }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form.content }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form.watchers }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <input type="submit" class="btn btn-primary" value="{% trans "Publish" %}">
        </div>
    </div>
</form>
{% endblock %}
