{% extends 'base/base.html' %}
{% load staticfiles thumbnail i18n comments %}

{#{% block header %}{% endblock %}#}
{% block content %}
<div class="listings__listing">
  <img src="{{ listing.large_image }}">
  <div class="listing-content" style="margin:4em; min-height:1000px">
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.category }}</p>
    <p>{{ listing.content|safe }}</p>
    {% render_comment_list for listing %}
    {% render_comment_form for listing %}
  </div>
</div>
{% endblock%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
{% endblock %}
