{% load listings %}

<div class="content_right_main">
    <div class="content_right_img">
        <img src="{{ item.image }}" alt="">
    </div>
    <div class="content_right_inr">
        <div class="conetent_center">
            <a href="{{ item.url }}"><h4>{{ item.title|truncatechars:50 }}{% if item.display_timestamp %}<span>{{ item.display_timestamp|date }}&nbsp;{{ item.display_timestamp|time }}</span>{% endif %}</h4>
            <div class="text_ch">{{ item.content|truncatechars:50 }}</div></a>
        </div>
        <div class="conetent_right">
            <span>{{ item | distance_m }}</span>
            {% if item.user %}
                <a href="{% url 'pb_profile' user_id=item.user.id %}">
                    <div class="content_img">
                        <img src="{{ item.user.thumbnail_tiny }}" alt="">
                        <div class="rounded_text">999</div>
                    </div>
                </a>
            {% else %}
                <div class="content_img" style="height:50px;">
                </div>
            {% endif %}
            <div class="offered_btn"><a href="{{ item.category.url }}">{{ item.category.value }}</a></div>
        </div>
    </div>
</div>
