{% load staticfiles i18n leaflet_tags compress bootstrap3 %}<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}POLLY &amp; BOB{% endblock %}</title>
{% compress css %}
  <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rangeslider.js/dist/rangeslider.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
{% endcompress %}
  <link href="{% static 'css/developers_styles.css' %}" rel="stylesheet" type="text/css">
  {% block css %}
  {% endblock %}
</head>
<body{% block body_attrs %} class="home"{% endblock %}>
<!--header part start-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 logo">
          <a href="/"><img src="{% static 'images/header_logo.png' %}" alt=""></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 search">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <form action="" method="get">
                <input type="text" class="search-query form-control" placeholder="{% trans "What are you looking for right now?" %}" />
                <span class="input-group-btn">
                <button class="btn btn-danger" type="button"> <span class="glyphicon glyphicon-search"></span> </button>
                </span>
              </form>
            </div>
          </div>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 pull-right nopadding">
          <nav class="navbar navbar-inverse">
              <div class="collapse navbar-collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav pull-right">
                  <li><a href="#">My Neighborhood</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'user_detail' user.pk %}">{% trans "My Profile" %}</a></li>
                  <!--<li><a href="#" class="">Register</a></li>-->
                {% else %}
                  <button type="button" class="btn btn-primary btn-lg register-pop tab-toggle" data-toggle="modal" data-target="#login-modal" data-target-tab="postalCodeTab">
                   Register
                  </button>
                  <button type="button" class="btn btn-primary btn-lg register-pop tab-toggle" data-toggle="modal" data-target="#login-modal" data-target-tab="loginTab">
                   Login
                  </button>
                {% endif %}
                </ul>
              </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--header part end-->
{% block banner %}
{% endblock %}

{% block content %}
{% endblock %}
<!--footer part start-->
<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li><a href="#">{% trans 'Impressum' %}</a></li>
          <li><a href="#">{% trans 'Blog' %}</a></li>
          <li><a href="#">{% trans 'AGB' %}</a></li>
          <li><a href="#">{% trans 'Datenschutz' %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer part end-->
{% if user.is_authenticated %}
{% else %}
{% trans "Register" as Register %}
{% trans "Login" as Login %}
{% trans "forgot password" as forgot_password %}
{% trans "I agree to the terms" as I_agree_to_the_terms %}
{% trans "stay loggen in" as stay_loggen_in %}
  <!-- modal with the first step of registration and login tabs -->
<div class="modal fade tabbed-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="auth">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#postalCodeTab" aria-controls="postalCodeTab" role="tab" data-toggle="tab">{{ Register }}</a>
          </li>
          <li role="presentation">
            <a href="#loginTab" aria-controls="loginTab" role="tab" data-toggle="tab">{{ Login }}</a>
          </li>
        </ul>
        <div class="tab-content" id="content">
          <div role="tabpanel" class="tab-pane active" id="postalCodeTab">
           <form class="ajax-form" id="check_zip_form" action="{% url 'check_zip' %}" method="get">
              {% bootstrap_field postal_code_form.country %}
              {% bootstrap_field postal_code_form.zip_code %}
              <button type="submit" class="btn btn-default submit_button send-btn-new">{{ Register }}</button>
             </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="loginTab">
            <form class="ajax-form" action="{% url 'account_login' %}" method="post">
              {% bootstrap_form login_form %}
               <button type="submit" class="btn btn-default submit_button send-btn-new">{{ Login|upper }}</button>
               <span><a href="{% url 'account_reset_password' %}" class="colr">{{ forgot_password }}</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% get_current_language as LANGUAGE_CODE %}

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwNcPyeabkfR-x08204ANjR1P8PnDabHY&libraries=places&language={{ LANGUAGE_CODE }}" type="text/javascript"></script>

  <!-- Modal of second registration's step and login tabs -->
<div class="modal fade tabbed-modal" id="register-modal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#registrationTab" aria-controls="registrationTab" role="tab" data-toggle="tab">{{ Register }}</a>
          </li>
          <li role="presentation">
            <a href="#loginTab2" aria-controls="loginTab2" role="tab" data-toggle="tab">{{ Login }}</a>
          </li>
        </ul>
        <div class="tab-content" id="content">
          <div role="tabpanel" class="tab-pane active" id="registrationTab">
            <h3 id="register_notice"></h3>
            <form action="{% url 'account_signup' %}" method="post" class="ajax_form">
              {% bootstrap_form register_form %}
              <button type="submit" class="btn btn-default submit_button send-btn-new">{{ Register }}</button>
             </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="loginTab2">
            <form class="ajax-form" action="{% url 'account_login' %}" method="post">
              {% bootstrap_form login_form %}
               <button type="submit" class="btn btn-default submit_button send-btn-new">{{ Login|upper }}</button>
               <span><a href="{% url 'account_reset_password' %}" class="colr">{{ forgot_password }}</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% compress js %}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tinyscrollbar/lib/jquery.tinyscrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-slider/bootstrap-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'rangeslider.js/dist/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
{% endcompress %}
{% if not user.is_authenticated %}
<script src="{% static 'geocomplete/jquery.geocomplete.min.js' %}" type="text/javascript"></script>
{% endif %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/customize.js' %}"></script>
{% block javascript %}{% endblock %}
{% block hidden %} {% endblock %}
</body>
</html>
