{% extends 'base/base.html' %}
{% load staticfiles i18n %}

{% block banner %}
<!--banner part start-->

<section class="container-fluid jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vert-offset-bottom-1 language-bar">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}" />
            <input name="language" type="hidden" value="{{ language.code }}">
            <button class="btn btn-default setLocaleButton language-btn" type="submit">{{ language.name_local }}</button>
          </form>
        {% endfor %}
      </div>
      <div class="jumbotron-container">
        <a href="/"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <h1>{% trans "We connect you with your neighborhood!" %}</h1>
        <div class="jumbotron-listing">
          <ul>
            <li>{% trans "Find interesting people!" %}</li>
            <li>{% trans "Open local groups!" %}</li>
            <li>{% trans "Share goods!" %}</li>
            <li>{% trans "Get help!" %}</li>
            <li>{% trans "Go to events!" %}</li>
            <li>{% trans "Join our non-profit movement!" %}</li>
          </ul>
          <p>{% trans "Join your Neighborhood!" %}</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="jumbotron-section">
        <img src="{% static 'images/arrow_img.png' %}" alt="">
        <button type="button" class="btn btn-primary btn-lg joinnow-button tab-toggle" data-toggle="modal" data-target="#login-modal" data-target-tab="postalCodeTab">Join <br>Now!</button>
      </div>
    </div>
  </div>
</section>
<!--banner part end-->
{% endblock %}

{% block content %}
<!--content part start-->
<section class="container-fluid content-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="content-left-section">
            <div class="left-section">
              <div class="clear-top"><a href="#">{% trans "clear" %}</a></div>
              <ul class="filter-list">
                <li><a href="#">Events (25)</a></li>
                <li><a href="#">Neighbors (455)</a></li>
                <li><a href="#">help needed (12)</a></li>
                <li><a href="#">services needed (39)</a></li>
                <li><a href="#">Services Offered (120)</a></li>
                <li><a href="#">Goods Needed (21)</a></li>
                <li><a href="#">Goods Offered (1,421)</a></li>
                <li><a href="#">Neighborhood News (12)</a></li>
                <li><a href="#">People Needed (12)</a></li>
                <li><a href="#">Groups (32)</a></li>
              </ul>
              <div class="dropdown-container">
                <div class="drp">
                  <div class="dropdown mega-dropdown">
                    <a href="javascript:;" class="dropdown-toggle" id="menu4">{% trans "select your options" %}</a>
                    <div class="dropdown-menu mega-dropdown-menu">
                      <ul>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" id="checkAll"><strong>Mark all</strong></label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Events</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Neighbors</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">People Needed</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Groups</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Services Needed</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Services Offered</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Help Needed</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Help Offered</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Goods Needed</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Goods Offered</label>
                        </li>
                        <li>
                          <label>
                            <input name="" type="checkbox" value="" class="checkItem">Neighborhood News</label>
                        </li>
                      </ul>
                      <a href="#" class="save-button">Save</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-left-section">
            <div class="left-section ">
              <h3>around you <span></span></h3>
              <div class="range-slider">
                <input type="range" min ="0.1" max="20" step ="0.1"/>
                <div id="ruler"></div>
              </div>
            </div>
          </div>
          <div class="neighborhood-button">
          	<a class="btn btn-default" href="newsfeed.html" role="button">Go to your Neighborhood!<br><span>one click to you neighborhood!</span></a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div id="scrollbar1">
            <div class="scrollbar">
              <div class="track">
                <div class="thumb">
                  <div class="end"></div>
                </div>
              </div>
            </div>
            <div class="viewport">
              <div class="overview">
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding bg">
                    <div class="women-circle"><img src="assets/images/women_img.jpg" alt="" >
                      <div class="rounded-value">254</div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <h4>Betty<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
                <div class="col-lg-12 right-section">
                  <div class="col-lg-4 nopadding"> <img src="assets/images/books_img.jpg" alt=""> </div>
                  <div class="col-lg-5">
                    <h4>Selling my old books<span>31.03.2015 - 10:00 am</span></h4>
                    <div class="textarea-disable">Text of 50 characters xxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxx50...</div>
                  </div>
                  <div class="col-lg-3"> <span class="value-right">500m</span>
                    <div class="small-image-circle"> <img src="assets/images/banner_image2.jpg" alt="">
                      <div class="rounded-value">254</div>
                    </div>
                    <div class="offered-btn"><a href="#">goods offered</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!--content part end-->
<!--15 reasons part start-->
<section class="container-fluid reasons-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>15 REASONS</h2>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 vert-offset-top-3 col-md-offset-2 col-sm-offset-2">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse1">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse2">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>

            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse3">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse4">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse5">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse6">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse7">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse8">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse9">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse10">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse11">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse12">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse13">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse13" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse14">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse14" class="panel-collapse collapse">
                <div class="accordion">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse15">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse15" class="panel-collapse collapse">
                <div class="accordion">
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <div class="join-now-area">
            <p>Discover your<br>
              <span>neighborhood now!</span></p>
            <div class="join-button"> <img src="{% static 'images/arrow_img3.png' %}" alt=""> <a href="#">Join<br>
              Now!</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--15 reasons part end-->
<!--newslettter part start-->
<section class="container-fluid newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
          <h3>Social media<br>
            <span>Folge uns auf den Sozialen medien!</span></h3>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
          <h3>Meine freunde einladen<br>
            <span>Lade deine freunde ein!</span></h3>
          <p class="container-fluid freunde-button"><a class="btn btn-default pull-left button-radius" href="#" role="button">freunde einladen</a></p>

        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          <div class="newsletter-form">
              <h4>Newsletter</h4>
              <form role="form">
                <div class="form-group">
                  <input class="form-control news_field" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control news_field" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                  <input class="form-control news_field" id="plz" placeholder="Plz">
                </div>
                <div class="form-group">
                 <button type="submit" class="btn btn-default submit_button button-radius">ANMELDEN</button>
               </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--newslettter part end-->
<!--15 reasons part start-->
<section class="container-fluid reasons-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>ÜBER UNS</h2>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 vert-offset-top-3 col-md-offset-2 col-sm-offset-2">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse21">was ist polly &amp; bob?</a> </h4>
              </div>
              <div id="collapse21" class="panel-collapse collapse">
                <div class="container-fluid accordion">
                  <div class="col-md-12 nopadding"><img src="{% static 'images/uber_img1.jpg' %}" alt="" width="100%" class="vert-offset-bottom-1"></div>
                  <div class="clearfix"></div>
                  <ul>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                    <li>Finde mitmacher und gelegenheiten vor deiner haustur!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse22">finde gleichgesinnte in deiner nahe!</a> </h4>
              </div>
              <div id="collapse22" class="panel-collapse collapse">
                <div class="container-fluid accordion">
                  <div class="col-md-12 nopadding"><img src="{% static 'images/uber_img1.jpg' %}" alt="" width="100%" class="vert-offset-bottom-1"></div>
                  <div class="clearfix"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                    <p class="container-fluid"><a class="btn btn-default pull-right button-radius" href="#" role="button">Register Now</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                    <p class="container-fluid"><a class="btn btn-default pull-right button-radius" href="#" role="button">Mitglied werden</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                    <p class="container-fluid"><a class="btn btn-default pull-right button-radius" href="#" role="button">Lokalgruppe grunden.</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse23">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse23" class="panel-collapse collapse">
                <div class="container-fluid accordion">
                  <div class="col-md-12 nopadding"><img src="{% static 'images/uber_img1.jpg' %}" alt="" width="100%" class="vert-offset-bottom-1"></div>
                  <div class="clearfix"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse24">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse24" class="panel-collapse collapse">
                <div class="container-fluid accordion">
                  <div class="col-md-12 nopadding"><img src="{% static 'images/uber_img1.jpg' %}" alt="" width="100%" class="vert-offset-bottom-1"></div>
                  <div class="clearfix"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title open-title"> <a data-toggle="collapse" href="#collapse25">nie wieder langeweile!</a> </h4>
              </div>
              <div id="collapse25" class="panel-collapse collapse">
                <div class="container-fluid accordion">
                  <div class="col-md-12 nopadding"><img src="{% static 'images/uber_img1.jpg' %}" alt="" width="100%" class="vert-offset-bottom-1"></div>
                  <div class="clearfix"></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, enim in vehicula mollis, orci justo congue augue, nec tempor libero nisl eget libero. Curabitur ligula mauris, lobortis vitae finibus commodo, porttitor vel ipsum.</p>
                    <p class="container-fluid"><a class="btn btn-default pull-left button-radius" href="#" role="button">Mitglied werden</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-md-offset-2">
          <div  class="join-now-section">
            <div class="join-now-area">
              <p>Discover your<br>
                <span>neighborhood now!</span></p>
              <div class="join-button"> <img src="{% static 'images/arrow_img3.png' %}" alt=""> <a href="#">Join<br>
                Now!</a> <strong>Already 5.000 neighbors have joined!</strong> </div>
            </div>
          </div>
          <div class="polly-title">
            <p>Polly &amp; Bob is much more than a platform.<br>
              <span>We are a movement that is changing the way how we live together in the neighborhood.</span></p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
      </div>
    </div>
  </div>
</section>
<!--15 reasons part end-->
{% endblock %}

{% block hidden %}
<!--popup part-->

{# Invite friends #}
<div class="modal fade" id="inviteFriends" role="dialog">
  <div class="modal-dialog modal-md">
   <div class="pop_ot">
    <div class="about_me_outer step_2">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="{% static "images/close_pop_btn.png" %}" alt=""></button>
      </div>
      <div class="pop_up thankyou">
       <p>{% trans "Thanks for your Registration." %}</p>
       <div class="pop_up_bottom thank">
           {% blocktrans %}
           <p>Only one little step ahead of connecting with your neighborhood!</p>
            <p>Please check your inbox to verify your E-mail and login to your neighborhood!</p>
           {% endblocktrans %}
            <div class="ok_btn login"><a href="#">{% trans "login" %}</a></div>
            <p>{% trans "Please help us to make Polly & Bob big and invite some friends!" %}</p>
            <!--<p>(we grant 1 month of free use for every invited friend, that completes registration)</p>-->
           <!--<div class="invite_btn_2"><a href="#">Invite friends</a></div>-->
           <div class="invite_con">
            <div class="invite_in">
              <h3>{% trans "Invite Friends" %}</h3>
              <p>({% trans "and get 2 € on your account for each registered" %})*</p>
              <div class="invite_top"><a href="https://www.facebook.com/dialog/send?app_id=184331875264503&link=http://pollybob.com&redirect_uri=http://pollybob.com"><img src="{% static "images/facebook_btn.png" %}" alt=""></a> <a href="https://twitter.com/intent/tweet"><img src="{% static "images/twitter_btn.png" %}" alt=""></a> <a href="#"><img src="{% static "images/email_btn.png" %}" alt=""></a></div>
              <div class="invite_form">
                 <form action="" method="post">{% csrf_token %}
                 {{ invite_friends_formset.management_form }}
                 {% for form in invite_friends_formset %}
                     {{ form.email }}
                     {% if form.email.errors %}
                     <span class="error">{% trans "Please enter a correct E-Mail" %} </span>
                     {% endif %}
                 {% endfor %}
                 <input name="submit" class="send_btn invite nhg" type="submit" value="Invite">
                 </form>
              </div>
             </div>
           </div>
       </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

{# End friends invitation popup #}

{##}
{#        <div id="login-box" class="login-popup">#}
{#        <a href="#" class="close"><img src="{% static 'images/close_pop_btn.png' %}" class="btn_close" title="Close Window" alt="Close" /></a>#}
{#            <div class="about_me_outer step_2">#}
{#              <div class="modal-content">#}
{#                <div class="pop_up">#}
{#                 <p>Please allow us to locate you.</p>#}
{#                 <div class="ok_btn"><a href="#">OK</a></div>#}
{#                 <div class="pop_up_bottom">#}
{#                 <p><span>Or give us your Zip code or address:</span></p>#}
{#                 <div class="pop_up_bottom_field">#}
{#                   <input name="" type="text" class="field"> <input name="" class="send_btn" type="submit" value="Send">#}
{#                   <span class="error">Please enter your zip</span>#}
{#                 </div>#}
{#                 <p>( in any case: your location will never be published, other user will never see your location )</p>#}
{#                 </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#		</div>#}
{#<!--popup part end-->#}
{#<script type="text/javascript">#}
{#$(document).ready(function() {#}
{#	$('a.login-window').click(function() {#}
{##}
{#		// Getting the variable's value from a link#}
{#		var loginBox = $(this).attr('href');#}
{##}
{#		//Fade in the Popup and add close button#}
{#		$(loginBox).fadeIn(300);#}
{##}
{#		//Set the center alignment padding + border#}
{#		var popMargTop = ($(loginBox).height() + 24) / 2;#}
{#		var popMargLeft = ($(loginBox).width() + 24) / 2;#}
{##}
{#		$(loginBox).css({#}
{#			'margin-top' : -popMargTop,#}
{#			'margin-left' : -popMargLeft#}
{#		});#}
{##}
{#		// Add the mask to body#}
{#		$('body').append('<div id="mask"></div>');#}
{#		$('#mask').fadeIn(300);#}
{##}
{#		return false;#}
{#	});#}
{##}
{#	// When clicking on the button close or the mask layer the popup closed#}
{#	$('a.close, #mask').on('click', function() {#}
{#	  $('#mask , .login-popup').fadeOut(300 , function() {#}
{#		$('#mask').remove();#}
{#	});#}
{#	return false;#}
{#	});#}
{# });#}
{#</script>#}
{% endblock %}
