@brand-primary: #51b9d4;
@border-radius-base: 0;
@padding-base-vertical: 3px;
@padding-base-horizontal: 15px;
@btn-default-border: @btn-default-bg;
@btn-primary-border: @btn-primary-bg;
@btn-success-border: @btn-success-bg;
@btn-info-border: @btn-info-bg;
@btn-warning-border: @btn-warning-bg;
@btn-danger-border: @btn-danger-bg;
@zindex-modal: 1050;
