.language-bar form {display: inline;}
.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}
.tabbed-modal .modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    border: none;
    background-color: transparent!important;
}
.tabbed-modal .tab-content {
    background-color: #fff;
    float: left;
    padding: 10px 15px 28px;
    width: 100%;
}
.tabbed-modal .nav-tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0
}
.tabbed-modal .nav-tabs li {
    float: left;
    margin: 0 -15px -1px 0
}
.tabbed-modal .nav-tabs a {
    float: left;
    position: relative;
    padding: 0 58px;
    height: 0;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #51b9d4;
    opacity: 1;
    filter: alpha(opacity=100)
}
.tabbed-modal .nav-tabs a:focus {
    outline: 0
}
.tabbed-modal .modal-dialog {
    width: 424px
}
.tabbed-modal .active a {
    z-index: 3;
    border-bottom-color: #e14f45;
    opacity: 1;
    filter: alpha(opacity=100);
}
.tabbed-modal span {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}
.tabbed-modal span a {
    color: #9c9c9c;
    font-size: 14px;
}
.tabbed-modal .nav-tabs li:hover a {
    background-color: transparent!important;
    border-top-color: transparent!important;
    border-left-color: transparent!important;
}
