.rangeslider,
.rangeslider__fill {
    height: 3px;
    border-radius: 0;
    background-clip: padding-box;
    background-color: #000000;
    box-shadow: none;
}
.rangeslider__handle {
    width: 17px;
    height: 11px;
    border: 0;
    top: -11px;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: none;
    background: url(../images/handle_arrow.png) left top no-repeat;
}
.rangeslider__handle::before {
    display: block;
    content: attr(data-content);
    position: relative;
    top: 22px;
    left: -16px;
    width: 40px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
    text-align: center;
    color: #e14e44;
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#ruler {
    position: relative;
    height: 20px;
}
#ruler span {
    position: absolute;
    width: 10px;
    top: 10px;
    color: #f6f6f6;
    font-size: 10px;
    text-shadow: 0 1px 0 #9e2d04;
}
#ruler span:nth-child(1) {
    left: 0;
}
#ruler span:nth-child(2) {
    left: 11%;
}
#ruler span:nth-child(3) {
    left: 22%;
}
#ruler span:nth-child(4) {
    left: 33%;
}
#ruler span:nth-child(5) {
    left: 44%;
}
#ruler span:nth-child(6) {
    left: 55%;
}
#ruler span:nth-child(7) {
    left: 66%;
}
#ruler span:nth-child(8) {
    left: 77%;
}
#ruler span:nth-child(9) {
    left: 88%;
}
#ruler span:nth-child(10) {
    left: 95%;
}
.km_cls {
    display: inline-block;
    color: #e14e44;
    padding-left: 18px;
}
