@font-face {
    font-family: 'code_lightregular';
    src: url('../fonts/code_light.eot');
    src: url('../fonts/code_light.eot?#iefix') format('embedded-opentype'), url('../fonts/code_light.woff2') format('woff2'), url('../fonts/code_light.woff') format('woff'), url('../fonts/code_light.ttf') format('truetype'), url('../fonts/code_light.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'code_boldregular';
    src: url('../fonts/code_bold.eot');
    src: url('../fonts/code_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/code_bold.woff2') format('woff2'), url('../fonts/code_bold.woff') format('woff'), url('../fonts/code_bold.ttf') format('truetype'), url('../fonts/code_bold.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mathletebulky';
    src: url('../fonts/mathlete-bulky.eot');
    src: url('../fonts/mathlete-bulky.eot?#iefix') format('embedded-opentype'), url('../fonts/mathlete-bulky.woff2') format('woff2'), url('../fonts/mathlete-bulky.woff') format('woff'), url('../fonts/mathlete-bulky.ttf') format('truetype'), url('../fonts/mathlete-bulky.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_proximanova-bold-webfont_0';
    src: url('../fonts/proximanova-bold-webfont_0.eot');
    src: url('../fonts/proximanova-bold-webfont_0.woff') format('woff'), url('../fonts/proximanova-bold-webfont_0.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/** Generated by FG **/

@font-face {
    font-family: 'Conv_proximanova-light-webfont_0';
    src: url('../fonts/proximanova-light-webfont_0.eot');
    src: url('../fonts/proximanova-light-webfont_0.woff') format('woff'), url('../fonts/proximanova-light-webfont_0.ttf') format('truetype'), url('../fonts/proximanova-light-webfont_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/** Generated by FG **/

@font-face {
    font-family: 'Conv_ProximaNova-Regular_0';
    src: url('../fonts/ProximaNova-Regular_0.eot');
    src: url('../fonts/ProximaNova-Regular_0.woff') format('woff'), url('../fonts/ProximaNova-Regular_0.ttf') format('truetype'), url('../fonts/ProximaNova-Regular_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold.woff2') format('woff2'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('truetype'), url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold1.eot');
    src: url('../fonts/proximanova-semibold1.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold1.woff2') format('woff2'), url('../fonts/proximanova-semibold1.woff') format('woff'), url('../fonts/proximanova-semibold1.ttf') format('truetype'), url('../fonts/proximanova-semibold1.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
